<div id ="participate">

		<% if event.participated_by?(current_user) %>

				<%= link_to "トークルームへ", event_path(event.id), method: :get, id: "link_for_talkroom_#{event.id}" %>
				<p><%= link_to "参加取消", event_participates_path(event), method: :delete, id: "participate_btn_#{event.id}", remote: true %></p>

		<%# elsif event.capacity <= event.participates.count %>
			<!-- <div class="capacity_max">満員</div> -->
		<% else %>
			<script>
				var elemTest = document.getElementById("link_for_talkroom_");
					elemTest.parentNode.removeChild(elemTest);
			</script>
			   	<%= link_to "参加", event_participates_path(event), method: :post, remote: true, id: "participate_btn_#{event.id}" %>


		 <% end %>

</div>
