/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #f9fbfe;
}

.container {
	margin-top: 65px;
}

.header {
	height: 65px;
	width: 100%;
	background-color: #ffffff;
	position: fixed;
	top: 0;
	box-shadow: 0px 2px 4px #eef0f4;
	z-index: 100;
}


.logo {
	line-height: 65px;
	float: left;
	padding: 0px 30px 0px 50px;
	margin-right: 350px;
	text-decoration: none;
}

.header_logo {
	text-decoration: none;
	color: black;
	font-size: 20px;
	line-height: 70px;
	font-weight: lighter;
}

.header li {
	line-height: 70px;
	float:left;
	list-style: none;
	text-decoration: none;
	padding: 0 10px;
}

.header_item {
	padding: 20px 20px;
}

.header_item:hover {
	border-bottom: 2px solid #83a4d4;
}

.header_item {
	text-decoration: none;
	color: black;
}

.login_page {
	margin-top: 80px;
	margin-left: 20px;
}

.sign_up_page {
	margin-top : 80px;
	margin-left: 20px;
}

.event_title {
	border-bottom: 1px solid #DDDDDD;
	padding: 8px;
}

.event_date {
	margin-top: 8px;
	margin-left: 20px;
}

.calendar {
	margin-right: 24px;
}

.event_place {
	margin-top: 8px;
	margin-left: 22px;
}

.map-marker {
	margin-right: 27px;
}

.participates_count {
	margin-top: 8px;
	margin-left: 21px;
}

.participate_users {
	margin-right: 26px;
}

.participate_button {
	margin-top: 23px;
	text-align: center;
}

.btn {
	color: white;
	opacity: 0.8;
	border-radius: 2px;
}

.btn:hover {
	opacity: 1;
}


.talkroom_host {
	background-color: #239b76;
	text-decoration: none;
	padding: 12px 63px;
}

.talkroom_participate {
	background-color: #239b76;
	text-decoration: none;
	padding: 12px 63px;
}

.capacity_max {
	color: red;
	font-size: 16px;
	border: 1px solid red;
	width: 228px;
	height: 40px;
	line-height: 40px;
	margin-left: 51px;
}

.participate {
	background-color: #3359a9;
	text-decoration: none;
	padding: 12px 102px;
}

.footer {
	height: 120px;
	width: 100%;
	background-color: black;
}

.footer_title {
	color: white;
	text-align: center;
	padding-top: 45px;
}
