.event_new {
	margin-top: 90px;
	margin-left: 30px;
}

.event_show {
	margin-top: 90px;
	margin-left: 90px;
}

.comments {
	margin-top: 30px;
}

.comment_form {
	margin-top: 30px;
}

.event_index {
	margin: 0px 40px 0px 125px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.event_box {
	width: 325px;
	height: 420px;
	float: left;
	background-color: white;
	margin: 0px 30px 30px 0;
	box-shadow: 2px 2px 4px #DDDDDD;
	border-left: 1px solid #DDDDDD;
	position: relative;
}

.event_image_wrap {
	overflow: hidden;
	width: 325px;
	height: 210px;
}


.description {
	width: 325px;
	height: 210px;
	background-color: black;
	opacity: 0.6;
	position: absolute;
	display: none;
	top: 0;
}

.description-text {
	width: 280px;
	color: white;
	text-align: center;
	margin: 0 auto;
	display: none;
	padding-top: 45px;
}

.event_title {
	border-bottom: 1px solid #DDDDDD;
	padding: 8px;
}

.event_title {

}

.event_date {
	margin-top: 8px;
	margin-left: 20px;
}

.calendar {
	margin-right: 24px;
}

.event_place {
	margin-top: 8px;
	margin-left: 22px;
}

.map-marker {
	margin-right: 27px;
}

.participates_count {
	margin-top: 8px;
	margin-left: 21px;
}

.participate_users {
	margin-right: 26px;
}

.participate_button {
	margin-top: 23px;
	text-align: center;
}

.btn {
	color: white;
	opacity: 0.8;
	border-radius: 2px;
}

.btn:hover {
	opacity: 1;
}


.talkroom_host {
	background-color: #239b76;
	text-decoration: none;
	padding: 12px 63px;
}

.talkroom_participate {
	background-color: #239b76;
	text-decoration: none;
	padding: 12px 63px;
}

.capacity_max {
	color: red;
	font-size: 16px;
	border: 1px solid red;
	width: 228px;
	height: 40px;
	line-height: 40px;
	margin-left: 51px;
}

.participate {
	background-color: #3359a9;
	text-decoration: none;
	padding: 12px 102px;
}

.ransack {
	padding: 30px 360px;
}

.search_form {
	width: 250px;
}


.profile_image{
	border-radius: 50%;
}
