// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event_new {
	margin-top: 90px;
	margin-left: 30px;
}

.event_show {
	margin-top: 90px;
	margin-left: 90px;
}

.comments {
	margin-top: 30px;
}

.comment_form {
	margin-top: 30px;
}

.event_index {
	margin-top: 90px;
}