.event_new {
	margin-top: 90px;
	margin-left: 30px;
}

.event_index {
	margin: 0px 40px 0px 125px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.event_box {
	width: 325px;
	height: 420px;
	float: left;
	background-color: white;
	margin: 0px 30px 30px 0;
	box-shadow: 2px 2px 4px #DDDDDD;
	border-left: 1px solid #DDDDDD;
	position: relative;
}

.event_image_wrap {
	overflow: hidden;
	width: 325px;
	height: 210px;
}


.description {
	width: 325px;
	height: 210px;
	background-color: black;
	opacity: 0.6;
	position: absolute;
	display: none;
	top: 0;
}

.description-text {
	width: 280px;
	color: white;
	text-align: center;
	margin: 0 auto;
	display: none;
	padding-top: 45px;
}

.event_title {
	border-bottom: 1px solid #DDDDDD;
	padding: 8px;
}

.event_title {

}

.event_date {
	margin-top: 8px;
	margin-left: 20px;
}

.calendar {
	margin-right: 24px;
}

.event_place {
	margin-top: 8px;
	margin-left: 22px;
}

.map-marker {
	margin-right: 27px;
}

.participates_count {
	margin-top: 8px;
	margin-left: 21px;
}

.participate_users {
	margin-right: 26px;
}

.participate_button {
	margin-top: 23px;
	text-align: center;
}

.btn {
	color: white;
	opacity: 0.8;
	border-radius: 2px;
}

.btn:hover {
	opacity: 1;
}


.talkroom_host {
	background-color: #239b76;
	text-decoration: none;
	padding: 12px 63px;
}

.talkroom_participate {
	background-color: #239b76;
	text-decoration: none;
	padding: 12px 63px;
}

.capacity_max {
	color: red;
	font-size: 16px;
	border: 1px solid red;
	width: 228px;
	height: 40px;
	line-height: 40px;
	margin-left: 51px;
}

.participate {
	background-color: #3359a9;
	text-decoration: none;
	padding: 12px 102px;
}

.ransack {
	padding: 30px 360px;
}

.search_form {
	width: 250px;
}

.show_image {
	position: relative;
	display: inline-block;
}

.icon {
	margin-top: 20px;
	margin-left: 100px;
}

.show_discription {
	width: 1280px;
	height: 450px;
	background-color: black;
	opacity: 0.5;
	position: absolute;
	top: 65px;
}

.show_desription_text {
  position: relative;
  display: inline-block;
  max-width: 718px;
  margin: 10px 20px 20px;
  padding: 8px 15px;
  background: #d4d8ff;
  text-align: left;
  border-radius: 15px;
}

.show_desription_text::after {
  content: '';
  border: 14px solid transparent;
  border-top-color: #d4d8ff;
  position: absolute;
  top: 0;
}

.left .show_desription_text::after {
  left: -10px;
}

.show_event_title {
	font-size: 50px;
	margin-top: 50px;
	margin-left: 100px;
	margin-bottom: 20px;
	color: white;
}

.show_items {
	color: black;
	margin-left: 100px;
}

.show_item {
 float: left;
 margin-right: 15px;
}

.event_destroy {
	background-color: red;
	color: white;
	text-decoration: none;
	padding: 3px;
	border-radius: 2px;
	opacity: 0.7;
}

.event_edit {
	background-color: green;
	text-decoration: none;
	color: white;
	padding: 3px;
	border-radius: 2px;
	opacity: 0.7;
	margin-right: 5px;
}

.host_button {
	margin-left: 100px;
	margin-top: 18px;
}

.host_btn:hover {
	opacity: 1;
}

.show_border {
	border-bottom: 1px solid grey;
	margin-top: 27px;
}


.profile_image{
	border-radius: 50%;
}

.btn-set{
	padding: 10px;
	background-color: red;
	color: white;
}

.comments {
	margin-top: 27px;
	margin-left: 100px;
}

.show_comment_text {
  position: relative;
  display: inline-block;
  max-width: 718px;
  margin: 10px 20px 20px;
  padding: 8px 15px;
  background: #a4d9f8;
  text-align: left;
  border-radius: 15px;
}

.show_comment_text::after {
  content: '';
  border: 14px solid transparent;
  border-top-color: #a4d9f8;
  position: absolute;
  top: 0;
}

.left .show_comment_text::after {
  left: -10px;
}

.show_comment_border {
	border-bottom: solid 1px grey;
	margin-bottom: 30px;
}

.comment {
	margin-bottom: 30px;
}

.comment_form {
	margin-left: 100px;
	margin-bottom: ;
	height: 30px;
	width: 500px;
	border-radius: 1px;
}

.comment_btn {
	background-color: #1e3a93;
	color: white;
	opacity: 0.8;
	padding: 6.5px 15px;
	border-radius: 3px;
}

.comment_btn:hover {
	opacity: 1;
}

