.user_show {
	padding: 30px;
}

.user_edit {
	margin-top: 90px;
	margin-left: 20px;
}

.participate_plan {
	width: 325px;
	height: 420px;
	float: left;
	background-color: white;
	margin: 0px 30px 30px 0;
	box-shadow: 2px 2px 4px #eef0f4;
}
